In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
from config import (user, password, host, port, database)

In [2]:
csv_file = "catchphrase.csv"
catchphrase_df = pd.read_csv(csv_file)
catchphrase_df.head()

,Catchphrase,Movie Name,Context
0,"Beetlejuice, Beetlejuice, Beetlejuice!",BEETLEJUICE,"Lydia, summoning Beetlejuice"
1,It's showtime!,BEETLEJUICE,"Beetlejuice, being summoned."
2,They're heeeere!,POLTERGEIST,"Carol Anne Freeling, notifying her parents of..."
3,Hey you guys!,THE GOONIES,"Sloth, calling the attention of the children ..."
4,"Good morning, Vietnam!","GOOD MORNING, VIETNAM",Adrian Cronauer's greeting on his radio show

In [3]:
csv_file = "netflix_titles.csv"
netflix_df = pd.read_csv(csv_file)
netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [4]:
catchphrase_df = catchphrase_df.rename(columns={'Catchphrase': 'catchphrase',
                                'Movie Name': 'title',
                                'Context': 'context'})
catchphrase_df

,catchphrase,title,context
0,"Beetlejuice, Beetlejuice, Beetlejuice!",BEETLEJUICE,"Lydia, summoning Beetlejuice"
1,It's showtime!,BEETLEJUICE,"Beetlejuice, being summoned."
2,They're heeeere!,POLTERGEIST,"Carol Anne Freeling, notifying her parents of..."
3,Hey you guys!,THE GOONIES,"Sloth, calling the attention of the children ..."
4,"Good morning, Vietnam!","GOOD MORNING, VIETNAM",Adrian Cronauer's greeting on his radio show
...,...,...,...
145,Hasta la vista...baby.,TERMINATOR 2: JUDGMENT DAY,"The Terminator, to T-1000, before shattering ..."
146,"That'll do, Pig.",BABE,"Farmer Hogget, to his sheep-pig, Babe, after ..."
147,"It's over, Johnny.",FIRST BLOOD,"Col. Trautman, to John Rambo, telling him his..."
148,"After all, tomorrow is another day.",GONE WITH THE WIND,"Scarlett O'Hara to herself, convinced she can..."
149,"In case I don't see ya...good afternoon, good ...",THE TRUMAN SHOW,"Truman Burbank, saying his final goodbye befo..."

In [5]:
netflix_df = netflix_df.drop_duplicates()
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [6]:
# netflix_df = netflix_df['title'].apply(lambda x: x.upper())

netflix_df['title'] = netflix_df['title'].str.upper()
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [7]:
netflix_df = netflix_df[['title', 'date_added', 'release_year', 'rating', 'duration']]
netflix_df.dtypes

title           object
date_added      object
release_year     int64
rating          object
duration        object
dtype: object

In [8]:
catchphrase_df = catchphrase_df[['title', 'catchphrase']]
catchphrase_df

,title,catchphrase
0,BEETLEJUICE,"Beetlejuice, Beetlejuice, Beetlejuice!"
1,BEETLEJUICE,It's showtime!
2,POLTERGEIST,They're heeeere!
3,THE GOONIES,Hey you guys!
4,"GOOD MORNING, VIETNAM","Good morning, Vietnam!"
...,...,...
145,TERMINATOR 2: JUDGMENT DAY,Hasta la vista...baby.
146,BABE,"That'll do, Pig."
147,FIRST BLOOD,"It's over, Johnny."
148,GONE WITH THE WIND,"After all, tomorrow is another day."
149,THE TRUMAN SHOW,"In case I don't see ya...good afternoon, good ..."

In [9]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [10]:
engine.table_names()

['catchphrases', 'netflix']

In [11]:
catchphrase_df.to_sql(name='catchphrases', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "catchphrases" does not exist
LINE 1: INSERT INTO catchphrases (index, title, catchphrase) VALUES ...
                                  ^

[SQL: INSERT INTO catchphrases (index, title, catchphrase) VALUES (%(index)s, %(title)s, %(catchphrase)s)]
[parameters: ({'index': 0, 'title': ' BEETLEJUICE', 'catchphrase': 'Beetlejuice, Beetlejuice, Beetlejuice!'}, {'index': 1, 'title': ' BEETLEJUICE', 'catchphrase': "It's showtime!"}, {'index': 2, 'title': ' POLTERGEIST', 'catchphrase': "They're heeeere!"}, {'index': 3, 'title': ' THE GOONIES', 'catchphrase': 'Hey you guys!'}, {'index': 4, 'title': ' GOOD MORNING, VIETNAM', 'catchphrase': 'Good morning, Vietnam!'}, {'index': 5, 'title': ' APOCALYPSE NOW', 'catchphrase': "I love the smell of napalm in the morning. You know, one time we had a hill\n. bombed, for 12 hours. When it was all over, I walked up. We didn't find one\n. of 'em, not one stinkin' dink body. The smell, you know that gasoline smell,\n. the whole hill. Smelled like ... victory."}, {'index': 6, 'title': ' SCARFACE', 'catchphrase': "Say 'hello' to my little friend!"}, {'index': 7, 'title': ' TOMBSTONE', 'catchphrase': "I'm your Huckleberry."}  ... displaying 10 of 150 total bound parameter sets ...  {'index': 148, 'title': ' GONE WITH THE WIND', 'catchphrase': 'After all, tomorrow is another day.'}, {'index': 149, 'title': ' THE TRUMAN SHOW', 'catchphrase': "In case I don't see ya...good afternoon, good evening, and goodnight."})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
netflix_df.to_sql(name='netflix', con=engine, if_exists='append', index=True)